@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --lightblue: #ECF2F8;
    --grey: #48556A;
    --lightgrey: #6E8098;
    --superlightgrey: #9DAEC2;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--lightblue);
}

article {
    background: var(--white);
}

h1 {
    font-family: "Manrope", sans-serif;
    font-size: 1.15 rem;
    color: var(--grey);
}

p {
    font-family: "Manrope", sans-serif;
    color: var(--lightgrey);
}

.name {
    font-family: "Manrope", sans-serif;
    color: var(--grey);
}

.date {
    font-family: "Manrope", sans-serif;
    color: var(--superlightgrey);
}