@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --lightblue: #ECF2F8;
    --grey: #48556A;
    --lightgrey: #6E8098;
    --superlightgrey: #9DAEC2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--lightblue);
}