@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --lightblue: #ECF2F8;
    --grey: #48556A;
    --lightgrey: #6E8098;
    --superlightgrey: #9DAEC2;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Containers setting */

body {
    background: var(--lightblue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: var(--white);
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1100px;
    max-height: 450px;
    margin: 1rem auto;
    border-radius: 1rem;
    overflow: hidden;
}

header {
    background-color: var(--grey);
    background-image: url("../images/drawers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 425px;
}

#innercontent {
    padding: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#clickanswer {
    margin: 2rem 2rem 0 2rem;
    position: relative;
}

/* Typographie */

h1 {
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    color: var(--grey);
    margin: 1.5rem 0;
}

p {
    font-family: "Manrope", sans-serif;
    line-height: 1.1rem;
    color: var(--lightgrey);
    line-height: 1.4;
}

/* Footer inner setup */

#avatar {
    height: 80px;
    width: 80px;
    border-radius: 3rem;
}

#author {
    margin-left: -10rem;
}

.name {
    font-family: "Manrope", sans-serif;
    color: var(--grey);
    font-size: 1.1rem;
    font-weight: 600;
}

.date {
    font-family: "Manrope", sans-serif;
    color: var(--superlightgrey);
    font-size: 1.1rem;
    margin-top: 0rem;
}

#shareicon {
    height: 50px;
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--lightblue);
    cursor: pointer;
}

/* JS answer setting desktop*/

#desktopanswer {
    position: absolute;
    right: -0.75rem;
    top: -4rem;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.75rem 0.75rem;
    width: 200px;
    border-radius: 1rem;
    visibility: hidden;
}

#desktopanswer::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 80%;
    transform: translateX(-50%);
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    border-top: 0.7rem solid var(--grey);
}

/* JS answer setting mobile */

#input {
    background-color: var(--grey);
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
}

#sharetext {
    letter-spacing: 5px;
}

#shareiconinput {
    fill: white;
    height: 50px;
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: var(--lightgrey);
    margin-left: 3rem;
    cursor: pointer;
}

/* Responsivness mobile */

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        max-height: none;
        max-width: 500px;
    }

    #clickanswer {
        margin: 2rem;
    }

    #author {
        margin-left: -4rem;
    }
}